In [4]:
#import the necessary libraries
import pandas as pd
import numpy as np

#load the data into the workspace
df = pd.read_csv("bookings.csv")

        property_id  room_nights  price_per_night  review_score
count  10000.000000  10000.00000     10000.000000   6183.000000
mean    3080.556500      3.27820       116.402218      7.224091
std     1204.244695      1.89435        30.062228      1.102054
min     1001.000000      1.00000        39.381382      1.000000
25%     2023.000000      2.00000        95.749134      6.559499
50%     3079.500000      3.00000       109.502877      7.343703
75%     4125.250000      4.00000       129.149561      8.017571
max     5178.000000     12.00000       272.705757     10.000000

In [8]:
#describe the data types of the columns
df.dtypes

booker_id           object
property_id          int64
room_nights          int64
price_per_night    float64
checkin_day         object
for_business          bool
status              object
review_score       float64
dtype: object